<%= form_for([@student, @session]) do |f| %>
  <%= render 'shared/errors', object: @session %>
  <p>
    <%= f.label :date %><br/>
    <%= f.date_field :date, autofocus: true %>
  </p>
  <p>
    <%= f.label :minutes %><br/>
    <%= f.number_field :minutes %>
  </p>
  <p>
    <%= f.label :therapy %><br/>
    <%= f.text_field :therapy %>
  </p>
  <p>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes, cols: 40, placeholder: 'How did the session go?' %>
  </p>
  <p>
    <%= f.submit 'Save Note' %>
  </p>
<% end %>
