<article>
  <h1> Session note for <%= @student.fullname %></h1>
  <p>
    <%= l @session.date, format: :short_date %>
  </p>
  <p>
    <%= @session.minutes %>
  </p>
  <p>
    <%= @session.notes %>
  </p>
</article>

<div class='show_student_buttons'>
  <div class='row'>
    <ul class='button-group round'>
      <li><%= link_to 'Edit', edit_student_session_path, class: 'button small' %></li>
      <li><%= link_to 'Notes', student_sessions_path, class: 'button small' %></li>
      <li><%= link_to 'Student', @student, class: 'button small' %></li>
    </ul>
  </div>
</div>
