<%= form_for(@student) do |f| %>
  <%= render 'shared/errors', object: @student %>
  <div class='row'>
    <div class='large-6 columns'>
      <div class='large-6 columns'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true %>

        <%= f.label :age, 'Date of birth' %>
        <%= f.date_field :age %>
      </div>
      <div class='large-6 columns'>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :grade %>
        <%= f.number_field :grade %>
      </div>
      <div class='large-12 columns'>
        <%= f.label :diagnosis %>
        <%= f.text_area :diagnosis %>
      </div>
    </div>
    <div class='large-6 columns'>
      <div class='large-6 columns'>
        <%= f.label :iep_date %>
        <%= f.date_field :iep_date %>

        <%= f.check_box :triennial %>
        <%= label_tag(:triennial, 'Triennial due this year?') %>
      </div>
      <div class='large-6 columns'>
        <%= label_tag(:min_hours, 'IEP Minutes') %>
        <%= f.number_field :min_hours %>

        <%= f.check_box :dismissed %>
        <%= label_tag(:dismissed, 'Dismissed?') %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='large-6 columns'>
      <div class='large-6 columns'>
          <%= f.submit class: 'button small round' %>
          <%= link_to 'Cancel', students_path, method: 'get', class: 'button secondary round small' %>
      </div>
    </div>
  </div>
<% end %>
