<div class='row'>
  <div class='large-12 columns'>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Grade</th>
          <th>Diagnosis</th>
          <th>IEP Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.fullname %></td>
          <td><%= student.grade %></td>
          <td><%= student.diagnosis %></td>
          <td><%= l student.iep_date, format: :short_date %></td>
          <td>
            <ul class='button-group round caseload-index'>
              <li class='annoyed'><%= link_to 'Show Student', student, class: 'button tiny' %></li>
              <li><%= link_to 'Write Note', new_student_session_path(student), class: 'button tiny' %></li>
              <li><%= link_to 'Show Therapy Notes', student_sessions_path(student), class: 'button tiny' %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
