<article>
  <header>
    <h1><%= @student.first_name %> <%= @student.last_name %></h1>
  </header>
  <h2>Details</h2>
  <h3>Age</h3>

    <%= @student.age %>

  <h3>Grade</h3>

    <%= @student.grade %>

  <h3>Triennial Year?</h3>

    <%= @student.triennial %>

  <h3>IEP Date</h3>

    <%= @student.iep_date %>

  <h3>IEP Services Remaining</h3>

    <%= @student.min_hours %>

  <h3>Diagnosis</h3>

    <%= @student.diagnosis %>

  <h3>Dismissed?</h3>

    <%= @student.dismissed %>
  
</article>

<%= link_to 'Write Note', new_student_session_path(@student) %><br/>
<%= link_to 'Show Therapy Notes', student_sessions_path(@student) %><br/>

<%= link_to 'All students', students_path %> |
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Delete Student', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %>
